body {
  background-color: #343333;
  font-family: "8BITWONDERNominal", "Comic Sans", "sans-serif";
  font-weight: normal;
  font-style: normal;
}
h1, h2 {
  color: #343333;
}

.hide {
  display: none;
}
.letra {
  color: #343333;
}
.realizado {
  color: #fff;
  
}